* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #787878;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 100vh;
    font-family: "Epilogue", sans-serif;
} 

.title {
    font-size: 30px;
    margin-bottom: 30px;
} 

form {
    display: flex;
}

form input,
form button {
    background-color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1.1rem;
}

form button {
    cursor: pointer;
    color: black;
    background: white;
    transition: all 0.3s ease;
}

form button:hover {
    background: black;
    color: white;
}