* {
    margin: 0 auto;
} 

body{
    background: no-repeat center center fixed;
    background-size : cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color:white;
    opacity: 0.8;
    border-radius: 20px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 300px;
    width: 750px;
    font-family: "Epilogue", sans-serif;
} 

.title {
    font-size: 30px;
}

#date {
    display: flex;
    color: black;
    justify-content: center;
    font-size: 20px;
}

#time {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.title, #date, #time{
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

form input {
    flex: 1;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.inputForm {
    border-style: solid;
    border-color: black;
}

form input,
form button {
    padding: 1rem;
    font-size: 1.1rem;
}

form button {
    border: none;
    cursor: pointer;
    color: black;
    background: white;
    transition: all 0.3s ease;
}

form button:hover {
    background: black;
    color: white;
    transition: all 0.3 ease;
} 

.todo-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.todo-list{
    min-width: 300px;
    list-style: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
    font-size: 1rem;
    align-items: center;
    transition: all 0.5s ease;
    border-style: solid;
    border-color: black;
} 

.todo li {
    flex: 1;
    padding: 0.5rem;
}

.trash-btn, .complete-btn{
    background: white;
    color: black;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;

} 

.trash-btn:hover, .complete-btn:hover{
    background: black;
    color: white;
}

.fa-check-circle, .fa-trash{
    pointer-events: none;
} 

.completed {
    text-decoration: line-through;
    opacity: 0.5;
} 

.fall {
    transform: translateY(8rem);
    transition: all 0.5s;
    opacity: 0;
} 

select {
    appearance: none;
    outline: none;
} 

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-color: black;
} 

select {
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    padding: 1rem;
    transition: all 0.3s ease;
} 

.select:hover::after{
    background: black;
    color: white;
    transition: all 0.3 ease;
} 

.userName{
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.editing{
    text-decoration: underline;
    text-decoration-color: black ;
}
