* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: #787878;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 100vh;
    font-family: "Epilogue", sans-serif;
} 

.title {
    font-size: 30px;
    margin-bottom: 30px;
}

#date {
    display: flex;
    color: black;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

form input {
    flex: 1;
}

form input,
form button {
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
}

form button {
    cursor: pointer;
    color: black;
    background: white;
    transition: all 0.3s ease;
}

form button:hover {
    background: black;
    color: white;
} 

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.todo-list{
    min-width: 300px;
    list-style: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
    font-size: 1rem;
    align-items: center;
    transition: all 0.5s ease;
} 

.todo li {
    flex: 1;
    padding: 0.5rem;
}

.trash-btn, .complete-btn{
    background: white;
    color: black;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;

} 

.trash-btn:hover, .complete-btn:hover{
    background: black;
    color: white;
}

.fa-check-circle, .fa-trash{
    pointer-events: none;
} 

.completed {
    text-decoration: line-through;
    opacity: 0.5;
} 

.fall {
    transform: translateY(8rem);
    transition: all 0.5s;
    opacity: 0;
} 

select {
    appearance: none;
    outline: none;
} 

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
} 

select {
    width: 9rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    padding: 1rem;
}